.contact{
    min-height: 80vh;
    padding-top: 150px;
}
.contact .container{
    margin-top: 70px;
    margin-bottom: 50px;
}

.form-Btn{
    padding: 6px 12px;
    margin: 24px 0 0;
    color: white;
    background-color: RGB(26, 188, 156);
    border: none;
    border-radius: 5px;
    transition: .5s;
}
.form-Btn:hover{
    background-color: #28a789;
}