.footer{
    background-color: #2C3E50;
    color: white;
    padding: 60px;
}
.icon{
    width: 35px;
    height: 35px;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items:center ;
    justify-content: center;
}

.copyright{
    background-color: RGB(26, 37, 47);
    padding: 10px;
}
.copyright p{
    color: (240, 248, 255);
    margin: 0 0 16px;
    padding: 10px  0 0;
}